{% extends "layout.html" %}

{% block content %}
  <h1>New Apartment</h1>

    <form method="post">
      <label>Unit Number:
        <input type="text" name="unit_number" value="{{ unit_number or '' }}">
      </label><br><br>

      <label>Building Name:
        <input type="text" name="building_name" value="{{ building_name or '' }}">
      </label><br><br>

      <label>Rent:
        <input type="text" name="rent" value="{{ rent or '' }}">
      </label><br><br>

      <button type="submit">Add Apartment</button>
    </form>

  <p><a href="{{ url_for('list_apartments') }}">Back to Apartments</a></p>
{% endblock %}
